* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bodyBackGround{
  background-image: url(../public/images/body-background.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  filter: blur(5px);
  opacity: 0.8;
}